/* Add your own styles */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, "Noto Sans", sans-serif;
    font-size: 18px;
    background-color: #f7fafc;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}
/*--HEADER--*/
header {
    text-align: center;
    padding: 5px;
    background-color: #4a5568;
    color: white;
    margin-bottom: 25px;
}
#head{
    display: flex;
}

/*---MAIN---*/
main {
    padding: 25px;
}

h1 {
    display: inherit;
    align-items: center;
}

.container img {
    float: left;
    width: 30%;
    height: 30%;
}

input{
    width: 65%;
    padding: 8px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;    
}

/*---BUTTONS---*/
.buttons{
    display: flex;
    justify-content: center;
}
#lookup-country{
    background-color: #38b2ac;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 12px;
    margin-bottom: 8px;
    margin-right :6px ;
    cursor: pointer;
}

#lookup-city{
    background-color: #4299e1;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 12px;
    margin-bottom: 8px;
    margin-left: 6px;
    cursor: pointer;
}
/*---TABLE---*/
.table{
    display: table;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
th{
    background-color: #fff;
    text-align: center;
}

tr:nth-child(even){
    background-color: #ffffff
  }
